* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #d8d8d8;
  color: #15171c;
  font-family: "myriad-pro-regular", "Source Sans Pro", sans-serif;
}

header {
  width: 100%;
  background-color: #1f2e78;
  height: 2.2rem;
}

main {
  width: 18rem;
  height: 23.5rem;
  padding: 1rem;
  border: 3px solid #a8a8a8;
  display: flex;
  flex-direction: column;
  margin: 3rem auto;
}

form {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  justify-self: center;
  align-self: center;
}

input {
  background-color: #d8d8d8;
  border: 1.6px solid #a8a8a8;
  width: 15rem;
  height: 2.5rem;
  margin-bottom: 1.2rem;
  box-sizing: border-box;
  padding-left: 0.5rem;
  font-size: 1.1rem;
}

button {
  background-color: #d8d8d8;
  border: 1.6px solid #a8a8a8;
  width: 15rem;
  height: 2.5rem;
  font-size: 1.1rem;
  margin-top: 1.5rem;
}

.circles {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 5rem;
  align-items: center;
  height: inherit;
  margin-left: 1.3rem;
}

.circle {
  border-radius: 50%;
  width: 1.3rem;
  height: 1.3rem;
}

.red {
  background-color: #e02020;
}

.yellow {
  background-color: #f7b500;
}

.green {
  background-color: #6dd400;
}

.heading {
  font-size: 1.5rem;
  width: 8rem;
  align-self: flex-end;
}

.title {
  display: flex;
  flex-direction: row;
  margin: 0.8rem auto 0.4rem;
}

.logo {
  width: 7rem;
}

/* Media Queries */

@media only screen and (max-width: 500px) {
  main {
    width: 15rem;
    height: 20rem;
  }

  form {
    margin-top: 1rem;
  }

  input {
    width: 12rem;
    font-size: 1rem;
  }

  button {
    width: 12rem;
    margin-top: 0.8rem;
  }

  .heading {
    font-size: 1.2rem;
    width: 7rem;
  }

  .logo {
    width: 4.5rem;
  }
}
