* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #d8d8d8;
  color: #15171c;
  font-family: "myriad-pro-regular", "Source Sans Pro", sans-serif;
}

header {
  width: 100%;
  background-color: #1f2e78;
  height: 2.2rem;
}

nav {
  width: 10rem;
  display: flex;
  align-items: center;
  padding-top: 2rem;
  flex-direction: column;
}

main {
  border-left: 1px solid #a8a8a8;
  display: flex;
  width: 100%;
  min-height: 93.8vh;
  padding: 0rem 2rem 1rem;
  box-sizing: border-box;
  flex-direction: column;
}

table {
  border: 2px solid #a8a8a8;
  border-collapse: collapse;
  width: 100%;
}

td,
th {
  border: 1px solid #a8a8a8;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

h2 {
  margin: 1rem 0;
}

form {
  display: flex;
  flex-direction: row;
  align-items: center;
}

input {
  background-color: #d8d8d8;
  border: 1.6px solid #a8a8a8;
  width: 15rem;
  height: 1.8rem;
  box-sizing: border-box;
  padding-left: 0.5rem;
  font-size: 1.1rem;
  margin: auto 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #15171c;
}

.circles {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 5rem;
  align-items: center;
  height: inherit;
  margin-left: 1.3rem;
}

.circle {
  border-radius: 50%;
  width: 1.3rem;
  height: 1.3rem;
}

.red {
  background-color: #e02020;
}

.text-red {
  color: #e02020;
}

.yellow {
  background-color: #f7b500;
}

.green {
  background-color: #6dd400;
}

.text-green {
  color: #20bd01;
}

.logo {
  width: 5rem;
}

.search {
  width: 2rem;
  margin-right: 0.5rem;
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}

.links {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  height: 7rem;
  justify-content: space-evenly;
}

.flex-container {
  display: flex;
  flex-direction: row;
}

.space-between {
  width: 100%;
  justify-content: space-between;
  margin-bottom: 2rem;
}

.pagination {
  margin: 1rem 0 1.5rem;
}

.arrow {
  width: 0.6rem;
  margin: 0 0.2rem;
  cursor: pointer;
}

.disabled {
  filter: invert(0%) sepia(4%) saturate(0%) hue-rotate(5deg) brightness(2%)
    contrast(0%);
  cursor: not-allowed;
}

#left {
  -webkit-transform: rotate(-90deg);
  transform: rotate(-90deg);
}

#right {
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}

/* Media Queries */

@media only screen and (max-width: 768px) {
  nav {
    width: 8rem;
  }

  main {
    width: 85%;
    padding: 0rem 2rem 1rem;
  }

  input {
    width: 12rem;
  }
}

@media only screen and (max-width: 500px) {
  main {
    width: 80%;
    padding: 0rem 1rem 1rem;
  }

  input {
    width: 7rem;
    height: 1.4rem;
    font-size: 0.7rem;
  }

  div {
    font-size: 0.7rem;
  }

  h2 {
    font-size: 1rem;
  }

  h5 {
    font-size: 0.7rem;
  }

  table {
    font-size: 10px;
  }

  .logo {
    width: 3.5rem;
  }

  .card {
    margin-right: 0;
    width: 10rem;
    height: 2.6rem;
  }

  .text {
    font-size: 1rem;
    margin-top: 0.5rem;
  }

  .links {
    font-size: 0.8rem;
  }

  .search {
    width: 1.4rem;
  }

  .space-between {
    margin-bottom: 0.3rem;
  }
}
