@import url(./base.css);

@import url(./shared.css);

main {
  width: 100%;
  padding: 0rem 2rem 1rem;
}

form {
  display: flex;
  flex-direction: row;
  align-items: center;
}

input {
  background-color: #d8d8d8;
  border: 1.6px solid #a8a8a8;
  width: 15rem;
  height: 1.8rem;
  box-sizing: border-box;
  padding-left: 0.5rem;
  font-size: 1.1rem;
  margin: auto 0;
}

.text-red {
  color: #e02020;
}

.text-green {
  color: #20bd01;
}

.search {
  width: 2rem;
  margin-right: 0.5rem;
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}

.space-between {
  width: 100%;
  margin-bottom: 2rem;
}

.pagination {
  margin: 1rem 0 1.5rem;
}

.arrow {
  width: 0.6rem;
  margin: 0 0.2rem;
  cursor: pointer;
}

.disabled {
  filter: invert(0%) sepia(4%) saturate(0%) hue-rotate(5deg) brightness(2%)
    contrast(0%);
  cursor: not-allowed;
}

#left {
  -webkit-transform: rotate(-90deg);
  transform: rotate(-90deg);
}

#right {
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}

/* Media Queries */

@media only screen and (max-width: 768px) {
  input {
    width: 12rem;
  }
}

@media only screen and (max-width: 500px) {
  input {
    width: 7rem;
    height: 1.4rem;
    font-size: 0.7rem;
  }

  div {
    font-size: 0.7rem;
  }

  .search {
    width: 1.4rem;
  }

  .space-between {
    margin-bottom: 0.3rem;
  }
}
